# Compiled class file
*.class
.bloop/*
.metals/*
project/.bloop/*
metals.sbt

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz


# SBT
.history
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/target/
project/target/
*.lock
.starry/*
.starry*

# Scala
.scala_dependencies
.scala_dependencies_ok

# IDE
.idea/
*.iws
*.ipr
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
